<li>
  {{veggieburger_name}}

  <button class="change-eaten" data-id="{{id}}" data-neweaten="{{devoured}}">
    {{#if devoured}}YUM!{{else}}EAT THE VEGGIE BURGER!{{/if}}
  </button>

  <button class="delete-veggieburger" data-id="{{this.id}}">DELETE!</button>
</li>
